<app-page-inner>
  <div
    class="page-section"
    *ngIf="{
      create: canCreate$ | async,
      delete: canDelete$ | async,
      update: canUpdate$ | async
    } as authorization"
  >
    <app-<%= dasherize(name) %>-items
      [<%= pluralize(camelize(name)) %>]="<%= pluralize(camelize(name)) %>$ | async"
      (delete)="onDelete($event)"
      (update)="onUpdate($event)"
      (add)="onAdd()"
      [authorization]="authorization"
    ></app-<%= dasherize(name) %>-items>
  </div>
</app-page-inner>
